@import "../../style/colors.css";

.login-page {
  background: var(--primary-red);
  color: var(--primary-white);
}

.page-name {
  font-size: 1.2em;
}

.back-button {
  height: 32px;
  width: 32px;
}

button {
  background-color: var(--primary-white) !important;
  width: 114px;
}
