.page-container {
  position: relative;
  max-width: 1024px;
  width: 100%;
  height: 100vh;
  box-shadow: 3px 2px 22px -1px rgba(61, 58, 74, 1);
  overflow: hidden;
  margin: 0 auto;
}

.admin-page-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
